table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid;
    width: 1000px;
    text-align: center;
}

.user-zone {
    width: 1000px;
    height: 1000px;
}

.result-table {
    margin-top: 20px;
}

.command-elements {
    width: auto;
    text-align: end;
}
